* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  cursor: pointer;
  list-style: none;
  color: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.form {
  margin: auto auto;
  font-size: 1.5rem;
  width: 80%;
  height: 80%;
  box-shadow: 6px 4px 8px 2px rgba(0, 0, 0, 0.8);
}
.form__body {
  position: relative;
  background-color: #111419;
  padding: 4rem;
}
.form__body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) url(/img/icons/loading.svg) center no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.form__body._sending:after {
  opacity: 1;
  visibility: visible;
}
.form__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form__title {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin: 3rem 0;
  font-weight: 700;
}
.form__title:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: block;
  width: 20%;
  height: 2px;
  background-color: #ba0833;
}
.form__text {
  padding: 2rem 0;
}
.form__item {
  margin-bottom: 2rem;
}
.form__item:last-child {
  margin-bottom: 0;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 1rem;
}
.form__input {
  font-size: 18px;
  height: 5rem;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  transition: all 0.3s ease;
}
.form__input:focus {
  box-shadow: 0px 3px 5px 3px #ba0833;
}
.form__input._error {
  box-shadow: 0 0 15px red;
}
.form textarea {
  min-height: 12rem;
  resize: vertical;
}

.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  display: inline-flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #1a2129;
  padding: 20px;
  width: 30%;
  font-size: 18px;
  letter-spacing: 1px;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
}
.file__preview img {
  max-width: 100%;
}

.btn {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 18px;
  width: 350px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
  background: inherit;
  color: #fff;
  letter-spacing: 1px;
  margin-left: auto;
  box-shadow: 3px 3px 5px 5px #8b1e40, inset 5px 5px 0 0 #8b1e40;
}
.btn:hover, .btn:focus {
  box-shadow: 0 0 0 0 #ff0e46, inset 6em 3.5em 0 0 #ff0e46;
}

.btn--form {
  margin: 0 auto;
  width: 250px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  background-color: #ccc;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 123rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}