// ================= VARS ================= //
$color-main: #250f15;
$color-burgundy: #8b1e40;
$color-darkblue: #111419;
$color-darkblue2: #1a2129;

$color-purple: #ff0e46;
$color-purpledark: #ba0833;
$color-pink: #ffcddb;
$color-pinklight: #fff1f6;
$color-grey: #484848;
$color-white: #fff;
$color-black: #181818;

// ================= FONTS ================= //

$font-title: "Montserrat", sans-serif;
$font-sub: "Noto Sans", sans-serif;
$font-nice: "Roboto Condensed", sans-serif;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

// Bad
// font-family: 'Merriweather', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto Condensed', sans-serif;
