@import "vars";
@import "nullstyle";
@import "form";
@import "blocks/button";

// 1 rem = 10px

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: $font-sub;
    color: $color-white;
    background-color: #ccc;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

// ================= CONTAINER ================= //

.container {
    max-width: 123rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
